<div class="users-container">
    <div class="header d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center gap-3">
        <h2 class="text-primary mb-0">Usuarios</h2>
        <button (click)="handleNew()" class="btn btn-secondary text-white">Nuevo</button>
      </div>
      <div class="user-info d-flex align-items-center gap-2">
        <div class="text-end">
          <div class="email">{{user().email}}</div>
          <div class="role">{{user().rol}}</div>
        </div>
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" height="80" alt="user" class="profile-img" />
      </div>
    </div>
  
    <div class="table-wrapper">
      <app-table
        [columns]="columns"
        [data]="users"
        (edit)="handleEdit($event)"
        (delete)="handleDelete($event)">
      </app-table>
    </div>
  </div>
  