<div class="container d-flex align-items-center justify-content-center vh-80 min-vh-80">
    <div class="row w-100 align-items-center flex-grow-1">
      
      <!-- Columna del formulario -->
      <div class="col-md-5 d-flex flex-column justify-content-center px-5">
        <h2 class="text-primary fw-bold mb-4">Mi Perfil</h2>
        
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="mb-3">
            <label for="fullName" class="form-label">Nombre Completo</label>
            <input formControlName="name" type="text" id="fullName" name="fullName" class="form-control bg-light fw-bold">
          </div>
  
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" id="email" name="email" class="form-control bg-light fw-bold">
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input formControlName="password" type="password" id="password" name="password" class="form-control bg-light fw-bold">
          </div>
  
          <button type="submit" class="btn btn-secondary text-white mt-2">
            @if (isLoading()) {
              <div class="spinner-border spinner-border-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
            } @else {
              GUARDAR
            }
          </button>
        </form>
      </div>
  
      <div class="col-md-7 d-none d-md-block text-center">
        <img src="banner-profile.jpg" class="img-fluid img-limit" alt="Perfil Imagen">
      </div>
    </div>
  </div>
  