<nav class="navbar navbar-dark bg-primary navbar-expand-lg mb-3">
  <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
          <img src="logo.png" alt="Gestión Medica" height="40" class="me-2">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="navbar-nav nav justify-content-center text-white">
          <li class="nav-item mx-2">
              <a class="nav-link btn btn-secondary" routerLink="home" routerLinkActive="active" aria-current="page">Inicio</a>
          </li>
          <li class="nav-item mx-2">
              <a class="nav-link btn btn-secondary" routerLink="register" routerLinkActive="active">Registro</a>
          </li>
          <li class="nav-item mx-2">
              <a class="nav-link btn btn-secondary" routerLink="login" routerLinkActive="active">Iniciar sesión</a>
          </li>
          <li class="nav-item mx-2">
              <a class="nav-link btn btn-secondary" routerLink="contact" routerLinkActive="active">Contacto</a>
          </li>
      </ul>
  </div>
</nav>
