<div class="container d-flex align-items-center justify-content-center vh-80 min-vh-80">
    <div class="row w-100 align-items-center flex-grow-1">

        <!-- Columna del formulario -->
        <div class="col-md-5 d-flex flex-column justify-content-center px-5">
            <h2 class="text-primary fw-bold mb-4">Iniciar Sesión</h2>
            <form (ngSubmit)="onLogin()">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico:</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
                  </div>
                  <div *ngIf="error" class="text-danger">{{ error }}</div>
                  <button type="submit" class="btn btn-secondary text-white mt-2">Entrar</button>
            </form>
        </div>
        <div class="col-md-7 d-none d-md-block text-center">
            <img src="banner-login.jpg" class="img-fluid img-limit" alt="Inicio sesión">
        </div>
    </div>
</div>
