.edit-appointment-container {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
    color: #003B5C; // Azul oscuro
  }
  
  form {
    display: flex;
    flex-direction: column;
  
    label {
      margin-bottom: 0.5rem;
      font-weight: 600;
      color: #333;
    }
  
    input, select {
      margin-bottom: 1.5rem;
      padding: 0.75rem 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 16px;
    }
  
    .form-buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
  
      button {
        background-color: #003B5C; // Azul oscuro
        color: #fff;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #002A45; // Azul aún más oscuro al pasar el mouse
        }
      }
  
      .btn-cancel {
        background-color: transparent;
        color: #003B5C; // Azul oscuro
        border: 2px solid #003B5C;
  
        &:hover {
          background-color: #E8F0F4;
        }
      }
    }
  }
  

  
  
  