<div class="card bg-dark text-white">
    <img src="banner-medico-home.jpg" class="card-img img-fluid object-cover" alt="...">
    <div class="card-img-overlay d-flex align-items-center justify-content-end">
        <h1 class="card-title text-white fw-bold text-bordered p-5">
            Gestión Médica
        </h1>
    </div>
</div>


<!-- Sección de Registro -->
<div class="card rounded-5 overflow-hidden bg-body-secondary mt-3">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="banner-home.jpg" class="card-img-top w-100 h-100 object-fit-cover" alt="Imagen de registro">
        </div>
        <div class="col-md-6 d-flex align-items-center text-primary">
            <div class="card-body text-center">
                <h1 class="card-title">Regístrate en nuestro sistema y agenda tu cita médica</h1>
                <button type="button" class="btn btn-secondary text-white mt-3 w-auto" routerLink="/register">Registro</button>
            </div>
        </div>
    </div>
</div>

<!-- Sección de Tarjetas -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-3" *ngFor="let card of cards">
            <div class="card text-center rounded-4 overflow-hidden">
                <div class="card-body ">
                    <h5 class="card-title text-primary">{{ card.title }}</h5>
                </div>
                <img [src]="card.image" class="card-img-bottom img-fluid" alt="Imagen de {{ card.title }}"
                    style="width: 100%; height: 150px; object-fit: contain; margin-bottom: 20px;">
            </div>
        </div>
    </div>
</div>

<!-- Sección de Reseñas -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-3" *ngFor="let review of reviews">
            <div class="card text-center rounded-4 p-3 bg-body-secondary">
                <!-- Estrellas dinámicas -->
                <div class="mb-2 text-warning">
                    <i *ngFor="let star of getStars(review.rating)" class="bi" [ngClass]="star"></i>
                </div>
                <div class="card-body">
                    <p class="card-text text-primary">"{{ review.comment }}"</p>
                </div>
            </div>
        </div>
    </div>
</div>