<div class="users-container">
  <div class="header d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center gap-3">
      <h2 class="text-primary mb-0">Gestión de Citas</h2>
      @if (canCreate()) {
        <button class="btn btn-secondary text-white" data-bs-toggle="modal" data-bs-target="#appointmentModal" data-bs-is-editing="0">
          Nueva Cita
        </button>
      }
    </div>
    <div class="user-info d-flex align-items-center gap-2">
      <div class="text-end">
        <div class="email">{{user().email}}</div>
        <div class="role">{{user().rol}}</div>
      </div>
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" height="80" alt="user" class="profile-img" />
    </div>
  </div>

  <div class="table-wrapper">
    @if (isLoading()) {
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    } @else {
      <app-table
        [columns]="columns"
        [data]="appointments"
        [showEdit]="canEdit()"
        [showDelete]="canDelete()"
        (edit)="handleEdit($event)"
        (delete)="handleDelete($event)">
      </app-table>
    }
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appointmentModalLabel">
          {{isEditing() ? 'Editar cita' : 'Nueva cita'}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" [disabled]="isLoading()" #closeBtn></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="dateCreated" class="form-label">Fecha y hora:</label>
            <input formControlName="dateCreated" type="datetime-local" class="form-control" id="dateCreated">
          </div>
          <div class="mb-3">
              <label for="category" class="form-label">Categoría:</label>
              <select class="form-control" formControlName="category" id="category">
                @for (item of categoryOptions(); track $index) {
                  <option [value]="item">{{item}}</option>
                }
              </select>
          </div>
          <div class="mb-3">
            <label for="doctor" class="form-label">Doctor:</label>
            <select class="form-control" formControlName="doctor" id="doctor">
              @for (item of doctors; track $index) {
                <option [value]="item">{{item}}</option>
              }
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="isLoading()">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="isEditing() ? edit() : save()" [disabled]="isLoading() || form.invalid">
          @if (isLoading()) {
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
          } @else {
            Guardar
          }
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit btn -->
<button class="fade" data-bs-toggle="modal" data-bs-target="#appointmentModal" data-bs-is-editing="1" #editBtn style="cursor: default;">
  Editar
</button>
